/* font_family_start */
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@100;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
/* font_family_end */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --blue_color:#4277FF;
    --text_color:#5C6574;
    --text2-color:#495264;
    --text_para_color:#3F4654;
    --blue_dip_color:#3C65F6;
    --dark_light_color:#2C3341;
    --bg-color-c:#EFF5F8;
}
/* common_section_start */
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
    text-transform: capitalize;
}
/* common_section_end */

/* header_section_start */
.header_section_start{
    background-image: url("../image/Rectangle\ 728.svg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    width: 100%;
}
.header_logo{

}
.header_menu_section{

}
.header_menu_section ul{
 text-align: right;
}
.header_menu_section ul li{
    display: inline-block;
    padding: 12px 15px;   
}
.header_menu_section ul li .btn{
    background-color:var(--blue_color);
    color: white;
    font-size: 18px;
    border-radius: 12px;
    font-family: Roboto;
    padding: 8px 14px;
}
.header_menu_section ul li a{
    font-family: 'Asap';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: var(--text_color);
}
/* we_have_develop_part_start */
.we_have_develop{

}
.we_have_develop_left{

}
.we_have_develop_left h1{
font-family: 'Asap';
font-style: normal;
font-weight: 700;
font-size:60px;
color:var(--text_color);
text-align:left;

}
.we_have_develop_left h1 .incredible{
    position: relative;
}
.we_have_develop_left h1 .incredible::after{
    content: "";
    display: inline-block;
    background-image: url(../image/animated\ line\ 2.png);
    width:100%;
    height: 17px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 10%;
    left: 0%;
    right: 0%;
}
/* incredible_end */
.we_have_develop_left h1 .easier{
    position: relative;
}
.we_have_develop_left h1 .easier::before{
    content: "";
    display: inline-block;
    background-image: url(../image/animated\ line.png);
    width:100%;
    height: 17px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 10%;
    left: 0%;
    right: 0%;
}

.we_have_develop_left_btn{

}
.we_have_develop_left_btn .btn{
background-color: var(--blue_color);
color: white;
font-family: 'Asap';
font-style: normal;
font-weight: 500;
font-size: 24px;
}
/* left_part_end */
.we_have_develop_left_right{

}
.we_have_develop_left_right_img{
    position: relative;
}

.we_have_right_img_2{
position: absolute;
top:15%;
left:25%;
right: 10%;

}
.animation_img_size{
    width:60%;
    height:auto;
    position: relative;
    animation-name:we_have_animation;
    animation-duration: 4s;
    animation-iteration-count:2;
    animation-direction: alternate;
}
@keyframes we_have_animation {
    0%   {left:0px; top:0px;}
    25%  { left:100px; top:0px;}
    50%  { left:100px; top:150px;}
    75%  { left:-50px; top:150px;}
    100% { left:-50px; top:0px;}
  }
  /* animate_2_img_end */
  .we_have_right_img_3{
    position: absolute;
    top: 35%;
    right: 9%;
    left: 66%;
  }
  .animation_img3_size{
    width:70%;
    height: auto;
    position: relative;
    animation-name:we_have_animation2;
    animation-duration: 6s;
  }
  /* animation_img-3 */
  @keyframes we_have_animation2 {
    0%   { bottom:0px;  right:0px; }
    25%  { bottom:80px; right:0px;}
    50%  { bottom:80px; right:250px;}
    75%  { bottom:0px; right:250px;}
    100% { bottom:0px; right:0px;}
  }
/* we_have_develop_part_end */
/* header_section_end */
/* carousel_section_start */
.carousel_section_start{
background-color: #EFF6F6;
}
.carousel_section_main{

}
.carousel_section_main .slider_img_size{
width:100%;
/* height: 80vh; */
}

.carousel_section_main .carousel-control-prev-icon {
    display: none;
}
.carousel_section_main .carousel-control-next-icon {
    display: none;
}
.carousel_section_main .carousel-indicators [data-bs-target] {
    width: 15px;
    height: 15px;
    background-color:var(--text_color);
    opacity: 1;
    transition: opacity .6s ease;
    border-radius: 50%;
}
/* carousel_section_end */
/* payment_gateways_section_start */
.payment_gateways_section_start{
    background-color: var(--bg-color-c);
}
.payment_gateways_section_left{
    /* position: relative; */
}
.payment_gateways_left_first_c{
    width:100%;
    /* height:550px; */
    height: 35rem;
    border: 1px solid #38C2EE;
    border-radius: 50%;
    background-color:#EFF3F6;
      position: relative;
}
/* .left_first_c_img__section_start */
.left_first_c_img_1{
width:24%;
height:8rem;
background-color: white;
border-radius: 50%;
/* box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.1); */
position: absolute;
left:50%;
bottom:85%;
}
.left_first_c_img_1_size{
    padding-top: 38px;
    padding-left: 18px;
    width: 80%;
    text-align: center;
    position: relative;
    animation-name:c_img_1_size;
    animation-duration: 6s;
}
  /* animation_img-3 */
  @keyframes c_img_1_size {
    0%   { top:0px;  right:0px; transform: scale(1.3); }
    25%  { top:40px; right:0px;}
    50%  { top:40px; right:150px;}
    75%  { top:0px; right:150px;}
    100% { top:0px; right:0px;}
  }


/* 1_img_end */
.left_first_c_img_2{
    position:absolute;
    width:14%;
    height: 4.9rem;
    background-color:white;
    border-radius: 50%;
    top:10%;
    left:5%;
    bottom: 0%;
}
.left_first_c_img_2_size{
    padding-top: 20px;
    padding-left: 6px;
    padding-right: 4px;
    text-align: center;
    position: relative;
    animation-name:c_img_2_size;
    animation-duration: 6s;
    z-index: 3;
}
@keyframes c_img_2_size {
    0%   { left:0px;  top:0px; transform: scale(1.3); }
    25%  { left:40px; top:0px;}
    50%  { left:40px; top:100px;}
    75%  { left:0px; top:100px;}
    100% { bottom:0px; top:0px;}
  }
/* 2_img_end */
.left_first_c_img_3{
    width:17%;
    height: 6rem;
    background-color:white;
    border-radius: 50%;
    position: absolute;
    bottom: 0%;
    left: 15%;
    right: 0%;
}
.left_first_c_img_3_size{
    width: 80%;
    padding-top:30px;
    padding-left: 10px;
    position: relative;
    animation-name:c_img_3_size;
    animation-duration: 6s;
    animation-direction: reverse;
    z-index: 5;
}
@keyframes c_img_3_size {
    0%   { bottom:0px;  left:0px; transform: scale(1.3); }
    25%  { bottom:40px; left:0px;}
    50%  { bottom:40px; left:100px;}
    75%  { bottom:0px; left:100px;}
    100% { bottom:0px; left:0px;}
  }
/* 3_img_end */
.left_first_c_img_4{
    width:17%;
    height: 6rem;
    background-color:white;
    border-radius: 50%;
    position: absolute;
    bottom: 5%;
    right: 10%;
    
}
.left_first_c_img_4_size{
    width: 80%;
    padding-top:25px;
    padding-left: 14px;
    position: relative;
    animation-name:c_img_4_size;
    animation-duration: 6s;
    animation-direction: reverse;
    z-index: 3;
}
@keyframes c_img_4_size {
    0%   { bottom:0px;  right:0px; transform: scale(1.3); }
    25%  { bottom:40px; right:0px;}
    50%  { bottom:40px; right:100px;}
    75%  { bottom:0px; right:100px;}
    100% { bottom:0px; right:0px;}
  }
/* 4_img_end */
.left_first_c_img_5{
    width:15%;
    height: 5rem;
    background-color:white;
    border-radius: 50%;
    position: absolute;
    left: 90%;
    top: 40%;
}
.left_first_c_img_5_size{
padding-top:15px;
padding-left: 8px;
position: relative;
animation-name:c_img_4_size;
animation-duration: 6s;

z-index: 3;
}

@keyframes c_img_4_size {
    0%   { bottom:0px;  right:0px; transform: scale(1.3); }
    25%  { bottom:40px; right:0px;}
    50%  { bottom:40px; right:100px;}
    75%  { bottom:0px; right:100px;}
    100% { bottom:0px; right:0px;}
  }
/* 5_img_end */
/* payment_gateways_left_first_c _end*/

.payment_gateways_left_first_second{
    width:70%;
    /* height:390px; */
    height: 25rem;
    border: 1px solid #38C2EE;
    border-radius: 50%;
    margin: 80px auto;
    background-color: #EDF1F4;
    box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.35);
    position: relative;
}
/* .left_first_secon_img_section_start */
.left_first_secon_img_1{
    width:20%;
    height: 5rem;
    background-color:white;
    border-radius: 50%;
    position: absolute;
    top:0%;
    left: 10%;
    bottom: 100%;
}
.left_first_secon_img_1_size{
    padding-top: 25px;
    padding-left: 5px;
    position: relative;
animation-name:secon_img_1;
animation-duration: 6s;
z-index: 3;
/* animation-direction: reverse; */
}
@keyframes secon_img_1 {
    0%   { bottom:0px;  left:0px; transform: scale(1.3); }
    25%  { bottom:40px; left:0px;}
    50%  { bottom:40px; left:100px;}
    75%  { bottom:0px; left:100px;}
    100% { bottom:0px; left:0px;}
  }
/* _one_end */
.left_first_secon_img_2{
    width:22%;
    height: 5rem;
    background-color:white;
    border-radius: 50%;
    position: absolute;
    top: 45%;
    right: 88%;
  bottom: 5%;
}
.left_first_secon_img_2_size{
    padding-top:25px;
    padding-left:5px;
    position: relative;
    animation-name:secon_img_2;
    animation-duration: 6s;
    z-index: 3;
    animation-direction: alternate;
}
@keyframes secon_img_2 {
    0%   { bottom:0px;  left:0px; transform: scale(1.3); }
    25%  { bottom:40px; left:0px;}
    50%  { bottom:40px; left:100px;}
    75%  { bottom:0px; left:100px;}
    100% { bottom:0px; left:0px;}
  }
/* second_one_end */
.left_first_secon_img_3{
    width:18%;
    height: 4.5rem;
    background-color:white;
    border-radius:50%;
    position: absolute;
    right:40%;
    bottom: 0%;
    top:90%;
}
.left_first_secon_img_3_size{
    padding-top:20px;
    padding-left: 3px;
    position: relative;
    animation-name:secon_img_3;
    animation-duration: 6s;
    z-index: 3;
   
}
@keyframes secon_img_3 {
    0%   { bottom:0px;  right:0px; transform: scale(1.3); }
    25%  { bottom:40px; right:0px;}
    50%  { bottom:40px; right:100px;}
    75%  { bottom:0px; right:100px;}
    100% { bottom:0px; right:0px;}
  }
/* 3rd_one_end */
.left_first_secon_img_4{
    width:18%;
    height: 4.5rem;
    background-color:white;
    border-radius: 50%;
    position: absolute;
    top:15%;
    right: 0%;
    left: 82%;
}
.left_first_secon_img_4_size{
    padding-top: 20px;
    padding-left: 5px;
    position: relative;
    animation-name:secon_img_4;
    animation-duration: 6s;
    z-index: 3;
}
@keyframes secon_img_4 {
    0%   { bottom:0px;  right:0px; transform: scale(1.3); }
    25%  { bottom:40px; right:0px;}
    50%  { bottom:40px; right:100px;}
    75%  { bottom:0px; right:100px;}
    100% { bottom:0px; right:0px;}
  }
/* .left_first_secon_img_section_end */
.payment_gateways_left_first_3rd{
    width:50%;
    /* height:190px; */
    height:12rem;
    border: 1px solid #38C2EE;
    border-radius: 50%;
    margin: 90px auto;
    background-color: #EDF1F4;
    box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.35);
    position: relative;
}
.payment_gateways_left_first_3rd_img{
    /* background-color: red; */
    position: absolute;
    top:20%;
    left:10%;
    right: 10%;
}
.left_3rd_img_size{
    width: 90%;
    position: relative;
    animation-name:third_img_1;
    animation-duration: 6s;
    z-index: 3;
}
@keyframes third_img_1 {
    0%   { top:0px;  right:0px; }
    25%  { top:100px; right:0px; transition: 0.7s;}
    50%  { bottom:200px; right:0px;top:0px}
    75%  { bottom:0px; right:100px; top:0px; transform: scale(1.3);}
    100% { bottom:0px; right:0px;}
  }
/* left_end */
.payment_gateways_section_right{

}
.payment_gate_right_upper_section{
background-color:#E4E9EB;
border-radius: 10px;
position: relative;
}
.payment_gate_right_upper_section::before{
content: "";
width:32%;
height:100px;
background-image: url('../image/Rectangle\ 802.png');
/* background-color: red; */
display:inline-block;
background-position: center;
background-size: cover;
position: absolute;
right: 82%;
bottom:4%;
}
.upper_right_two{

}
.payment_gate_right_small{

}
.payment_gate_right_small p{
    color:var(--blue_color);
    font-family: 'Asap';
    font-weight: 500;
font-size: 20px;
line-height: 23px;
text-align: right;
}
.payment_gate_right_title{

}
.payment_gate_right_title h2{
    font-family: 'Asap';
font-style: normal;
font-weight: 700;
font-size: 45px;
color: var(--text2-color);
}
.payment_gate_right_para{

}
.payment_gate_right_para .btn{
    background-color: #3C65F6;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    /* or 167% */
    margin-top: 20px;
    text-align: center;
    
    color: #FFFFFF;
}
.payment_gate_right_para p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
color: #A5A9B0;
}
/* payment_gateways_section_end */
/* feedback_section_start*/
.feedback_section{
background-color: #EEF3F8;
}
.feedback_section_left{

}
.feedback_section_left_main{
    /* border: 2px dashed #EEF4F7; */
     border: 2px dashed red;
    height: 20rem;
    border-left: none;
    /* transform: matrix(-1, 0, 0, 1, 0, 0); */
    border-radius: 0px 200px 200px 0px;
    width: 95%;
    position: relative;
}
.feedback_section_left_mid{
    height: 14rem;
    border-radius: 0px 200px 200px 0px;
    margin-top: 40px;
    width: 90%;
    border-left: none;
    box-shadow: 0px 4px 57px rgba(0, 0, 0, 0.1);
    background-color: white;
}
.feedback_section_left_mid h5{
 text-align: center; 
 padding-top:30px;  
 font-family: 'Asap';
font-style: normal;
font-weight: 700;
font-size: 45px;
color: var(--text_color);
}
.feedback_section_left_mid .feedback_color1{
color: var(--blue_color);
}

.feedback_section_left_man_one{
width:14%;
height:55px;
border-radius: 50%;
background-image: url("../image/Rectangle\ 757.png");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: absolute;
left: 50%;
bottom: 90%;
}
/* one_end */
.feedback_section_left_man_two{
    width:14%;
height:55px;
border-radius: 50%;
background-image: url("../image/Rectangle\ 758.png");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: absolute;
right: 5%;
top:3%;
}
/* two_end */
.feedback_section_left_man_3rd{
    width:14%;
    height:55px;
    border-radius: 50%;
    background-image: url("../image/Rectangle\ 756.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 90%;
    top:50%;
}
/* 3rnd_end */
.feedback_section_left_man_4th{
    width:14%;
    height:55px;
    border-radius: 50%;
    background-image: url("../image/Rectangle\ 760.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
  right: 10%;
    bottom: 0%;
}
.feedback_section_left_man_5th{
    width:14%;
    background-color: red;
    height:55px;
    border-radius: 50%;
    background-image: url("../image/Rectangle\ 757.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
  right: 40%;
top: 90%;
}
/* left_end */
/* feedback_section_left_end */
.feedback_section_right{

}
.feedback_section_right_main{
    background: #FFFFFF;
box-shadow: 8px 9px 141px rgba(0, 0, 0, 0.1);
border-radius: 30px 0px 0px 30px;

}
.feedback_section_right_main_img{

}
.feedback_section_right_main_para{

}
.feedback_section_right_main_para p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 35px;
color: var(--text_color);
}
.feedback_section_right_btn{
display: flex;
justify-content: flex-end;
}
.feedback_section_right_btn .nav-pills .nav-link {
    text-transform: capitalize;
    background-color: dodgerblue;
    color: white;
    border-radius: 0px;
}
.feedback_section_right_main_custom{
display: flex;
align-items: center;
justify-content:flex-start;
}
.feedback_section_right_main_custom_img{

}
.feedback_section_right_main_custom_img .extra_img{
    /* width: 40%; */
}
.feedback_section_right_main_custom_img_para{
padding-left: 10px;
}
.feedback_section_right_main_custom_img_para p{
    margin: 0px;
    font-family: 'Asap';
font-style: normal;
font-weight: 600;
font-size: 24px;
/* identical to box height, or 192% */
text-transform: uppercase;
color: #5C6574;
}
.feedback_section_right_main_custom_img_para small{
    font-family: 'Asap';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 23px;
color: var(--text_color);
}
/* feedback_section_end */
/* brand_who_Trust_aorasoft_section_start */
.brand_who_Trust_aorasoft_section_start{

}
.who_trust_aorasoft_title{
text-align: center;
}
.who_trust_aorasoft_title h2{
    font-family: 'Asap';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
color: var(--text_color);
}
.who_trust_aorasoft_details{

}
.who_trust_aorasoft_one{
    background-color: white;
    background: #FFFFFF;
border: 1px solid rgba(63, 70, 84, 0.1);
border-radius: 20px;
}
.slider_impor_size{
    width: 50%;
    display: block;
     margin: auto;
}
/* brand_who_Trust_aorasoft_section_end */
/* user_friendly_design_section_start */
.user_friendly_design_section_start{

}
.user_friendly_design_left{
background-color: #2C3341;
border-radius: 10px;
}
.user_friendly_design_left_title{

}
.user_friendly_design_left_title h3{
    font-family: 'Asap';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 37px;
/* identical to box height */

text-align: center;

color: #4277FF;
}
.user_friendly_design_left_nav{

}
.user_friendly_design_left_nav .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: var(--bs-nav-tabs-link-active-color);
    background-color: var(--bs-nav-tabs-link-active-bg);
    border-color: var(--bs-nav-tabs-link-active-border-color);
    background-color: blue;
    color: white;

}
.user_friendly_design_left_nav .nav-tabs .nav-link {
    background-color:#2C3341;
    color: #4277FF;
    border: 1px solid #4277FF;
    border-radius: 20px;
}
.user_friendly_design_left_nav .nav-tabs {
    justify-content: center;
}

.user_friendly_design_left_nav_details{

}
/* for_admin_details _start*/
.for_admin_details{

}
.for_admin_details ul{

}
.for_admin_details ul li{
    background: rgba(66, 119, 255, 0.1);
    border-radius: 10px;
 margin-top:10px;
 margin-bottom: 6px;
padding:10px 10px;
}
.for_admin_details ul li a{
    font-family: 'Asap';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 23px;
color: #4277FF;
}
/* for_admin_details_end */
/* left_end/ *//* left_end/ *//* left_end/ *//* left_end/ */
/* ============ */
.user_friendly_design_right{
background-color:#3C65F6;
border-radius: 20px 0px 0px 20px;
}
.user_friendly_design_right_title{
text-align: center;
}
.user_friendly_design_right_title h1{
    font-family: 'Asap';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    /* or 125% */
    
    text-align: center;
    
    /* White */
    
    color: #FFFFFF;
}
.user_friendly_design_right_title p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* or 167% */
text-align: center;
/* White */
color: #FFFFFF;
opacity: 0.8;
}
/* important */
.user_friendly_design_right_slider{

}
.important_sider_size{
    height:400px;
    width: 80%;
}
/* user_friendly_design_section_end */